@use 'variables' as v;

@mixin telefono() {
    @media only screen and (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (min-width: v.$tablet) {
        @content;
    }
}

@mixin escritorio() {
    @media only screen and (min-width: v.$escritorio) {
        @content;
    }
}

@mixin escritorio_xl() {
    @media only screen and (min-width: v.$escritorio_xl) {
        @content;
    }
}

@mixin boton($display, $color) {
    width: 100%;
    display: $display;
    background-color: $color;
    color: v.$blanco;
    padding: 1rem 1.5rem;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: darken($color, 5);
    }
}