/* Fuentes: por definir */

/* Tamaño de dispositivos */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop_xl: 1200px;

/* Paleta de colores: por definir */
$negro: #000000;
$amarillo: #E08709;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #E1E1E1;
$grisOscuro: #333333;
$rojo: #FF0000;

/* Espaciado */
$gap: 5rem;

/* Tamaño de fuentes */
$delgada: 300;
$regular: 400;
$bold: 700;
$bolder: 900;