// Fuentes
$font: Arial, sans-serif;

// Tamaño de fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$bolder: 900;

// Tamaño de dispositivos
$telefono: 480px;
$tablet: 768px;
$escritorio: 996;
$escritorio_xl: 1200px;

// Paleta de colores
$morado: #1f0a4e;
$moradoClaro: #4618ac;
$amarillo: #f5a623;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;
$blanco: #FFFFFF;

// Espaciado
$gap: 5rem;