@use 'helpers/variables' as v;
@use 'helpers/mixins' as m;

.filtros {
    margin-top: 4rem;
    width: 92%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @include m.tablet {
        flex-direction: row;
    }
    column-gap: 4rem;
    color: v.$blanco;
    font-size: 1.9rem;
    font-weight: bold;
}

.filtros_herramienta {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.filtros_herramienta-nombre,
.filtros_herramienta-precio {
    user-select: none;
}

// .filtros_herramienta:last-of-type {
//     border: 1px solid v.$moradoClaro;
//     width: max-content;
//     input {
//         background-color: v.$morado;
//         color: v.$blanco;
//         padding: 1rem 2rem;
//         border: 0;
//     }
//     button {
//         width: 4.5rem;
//         height: 4.5rem;
//         background-color: v.$morado;
//         border: 0;
//         color: v.$blanco;
//         &:hover {
//             cursor: pointer;
//         }
//     }
// }