@forward 'header';
@forward 'login';
@forward 'formulario';
@forward 'navegacion';
@forward 'barra-busqueda';
@forward 'slider';
@forward 'footer';
@forward 'sobre-nosotros';
@forward 'activacion';
@forward 'productos';
@forward 'videojuego';
@forward 'compras';
@forward 'filtros';
@forward 'administracion';
@forward 'usuario_pagina';
@forward 'busqueda';